<h1>Live#index</h1> <br>
<p>Cardano</p>
<%= number_with_precision(@ada['rate'], precision: 2) %>

<p>Bitcoin</p>
<%= number_with_precision(@btc['rate'], precision: 2) %>

<p>Ether</p>
<%= number_with_precision(@eth['rate'], precision: 2) %>

<br><%= link_to "Invest", new_crypto_investment_csv_import_path %>